**/.dart_tool/
**/.packages
**/.pub/
*/build/
*/*/build/
**/pubspec.lock

packages/inject/android/
packages/inject/ios/
packages/inject_generator/android/
packages/inject_generator/ios/

.idea/*
!.idea/modules.xml
